# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv/
venv/
ENV/
env/

# Logs
*.log

# Databases
*.sqlite3
*.db

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Compiled files
*.so

# Flask cache
instance/
*.egg-info/
